p{
    background-color: black;
    color: white;
    border-radius: 0.6vw;
    padding: 2vw;
    margin-top: 18vw;
    margin-right: 30vw;
    margin-left: 30vw;
    font-size: 2vw;
    text-align: center;
}